{% extends "base.html.twig" %}
{% block body %}
	<div class="jumbotron text-center">
		<h1>Agence pour l'emploi,5 des proxenete non pédophile et demi</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae maiores aliquam delectus porro fugit soluta qui, ullam est amet! Recusandae maxime vero id ipsam quas voluptates, distinctio facilis beatae est?</p>
	</div>
{% endblock %}
